<div *ngIf="movies.length>0; else no_movies">
  <h1>{{ title }}</h1>


  <div class="alert alert-warning" *ngIf="movies.length > 0">
    {{ movies.length }} film bulundu

    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>

  </div>

  <ng-template #movieList1>
  <div class="card mb-3" *ngFor="let item of movies">
    <div class="row">
      <div class="col-md-3">
        <img
          src="assets/img/{{ item.imageUrl }}"
          class="img-fluid rounded-start"
          alt=""
        />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <p class="card-text">{{ item.description }}</p>
          <div class="button btn btn-sm btn-outline-primary">Details</div>
        </div>
      </div>
    </div>
  </div>

</ng-template>
</div>



<ng-template #no_movies>
  <div class="alert alert-warning">Film Bulunamadı.</div>
</ng-template>
